<p-panel header="Upcoming Birthdays" [toggleable]="true">
  <div *ngIf="!isLoading; else loadingBirthdays">
    <ul>
      <li *ngFor="let employee of birthdays">
        <a [routerLink]="['/employees', employee.employeeId]"
          >{{ employee.firstName + " " + employee.lastName }} -
          {{ employee.birthDate | date: "MMMM d" }}</a
        >
      </li>
    </ul>
    <strong *ngIf="!birthdays.length">No upcoming birthdays</strong>
  </div>
  <ng-template #loadingBirthdays>
    <app-loading></app-loading>
  </ng-template>
</p-panel>
