<div class="grid grid-cols-1 gap-4">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">First name</label><br />
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        class="border-2 m-2 p-3"
      />
    </div>

    <div>
      <label for="lastName">Last name</label><br />
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="border-2 m-2 p-3"
      />
    </div>

    <div>
      <label for="email">Email address</label><br />
      <input
        type="text"
        id="email"
        formControlName="email"
        class="border-2 m-2 p-3"
      />
    </div>

    <div>
      <label for="hireDate">Hire date</label><br />
      <p-calendar inputId="hireDate" formControlName="hireDate"></p-calendar>
    </div>

    <div>
      <label for="birthDate">Birthdate</label><br />
      <p-calendar inputId="birthDate" formControlName="birthDate"></p-calendar>
    </div>

    <div>
      <label for="lastInteraction">Last Interaction</label><br />
      <p-calendar inputId="lastInteraction" formControlName="lastInteraction"></p-calendar>
    </div>

    <div>
      <div formArrayName="interests">
        <span *ngIf="controls.length === 0">No interests entered.</span>
          <div class="row" *ngFor="let interestCtrl of controls; let i = index" [formGroupName]="i">
              <div>
                  <input type="text" class="form-control" formControlName="name" class="border-2 m-2 p-3">        
              </div>

              <div>
                  <button type="button" (click)="onDeleteInterest(i)">X</button>
              </div>
          </div>
          <hr>
          <div>
              <div>
                  <button type="button" (click)="onAddInterest()">Add interest</button>
              </div>
          </div>
      </div>
  </div>

    <button type="submit">Save</button>
  </form>
</div>
