<nav
  class="sticky top-0 opacity-95 z-50 bg-emerald-700 border-emerald-700 px-2 sm:px-4 pt-4 pb-2.5 md:pb-5 rounded dark:bg-gray-800"
>
  <div
    class="relative container flex flex-wrap justify-between items-center mx-auto"
  >
    <a href="/" class="flex items-center">
      <img src="#" class="mr-3 h-6 sm:h-9" alt="App Logo" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-white"
        >Engagement</span
      >
    </a>
    <div class="md:hidden">
      <button
        type="button"
        class=""
        pButton
        pRipple
        icon="pi pi-bars"
        label=""
        (click)="menu.toggle($event)"
        style="background-color: #047857; border-width: 0px"
      ></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
    <div class="hidden w-full md:block md:w-auto" id="desktop-menu">
      <ul
        class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
      >
        <li>
          <a
            href="#"
            class="block py-2 pr-4 pl-3 text-white md:p-0 text-white font-bold text-lg hover:underline"
            aria-current="page"
            >Home</a
          >
        </li>
        <li *ngIf="isLoggedIn">
          <a
            [routerLink]="['/dashboard']"
            class="block py-2 pr-4 pl-3 text-white md:p-0 text-white font-bold text-lg hover:underline"
            >Dashboard</a
          >
        </li>
        <li *ngIf="isLoggedIn">
          <a
            [routerLink]="['/employees', 'new']"
            class="block py-2 pr-4 pl-3 text-white md:p-0 text-white font-bold text-lg hover:underline"
            >New Employee</a
          >
        </li>
        <li *ngIf="isLoggedIn">
          <a
            (click)="this.settingsService.toggleSettingsModal($event)"
            href="#"
            class="block py-2 pr-4 pl-3 text-white md:p-0 text-white font-bold text-lg hover:underline"
            >Settings</a
          >
        </li>
        <li *ngIf="isLoggedIn">
          <a
            (click)="logout($event)"
            href="#"
            class="block py-2 pr-4 pl-3 text-white md:p-0 text-white font-bold text-lg hover:underline"
            >Logout</a
          >
        </li>
        <li *ngIf="!isLoggedIn">
          <a
            [routerLink]="['/login']"
            class="block py-2 pr-4 pl-3 text-white md:p-0 text-white font-bold text-lg hover:underline"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-settings *ngIf="showSettingsModal"></app-settings>
