<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">{{ isLoginMode ? 'Log in' : 'Sign up' }}</h1>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <input
                    ngModel
                    *ngIf="!isLoginMode"
                    [required]="!isLoginMode"
                    type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="username"
                    placeholder="Full Name" />

                <input
                    ngModel
                    required
                    email 
                    type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="email"
                    placeholder="Email" />

                <input
                    ngModel 
                    type="password"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="password"
                    placeholder="Password" />
                <input
                    ngModel
                    *ngIf="!isLoginMode"
                    [required]="!isLoginMode"
                    type="password"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="confirmPassword"
                    placeholder="Confirm Password" />

                <button
                    type="submit"
                    class="w-full text-center py-3 rounded bg-green-600 text-white hover:bg-green-300 focus:outline-none my-1"
                >{{ isLoginMode ? 'Log in' : 'Create Account' }}</button>
            </form>

            <div class="text-center text-sm text-red-600 mt-4" *ngIf="error">
                {{ error }}
            </div>
        </div>

        <div *ngIf="isLoginMode" class="text-grey-dark mt-6">
            Don't have an account yet? 
            <a class="no-underline border-b border-blue text-blue cursor-pointer" (click)="onSwitchMode()">
                Sign up
            </a>.
        </div>

        <div *ngIf="!isLoginMode" class="text-grey-dark mt-6">
            Already have an account? 
            <a class="no-underline border-b border-blue text-blue cursor-pointer" (click)="onSwitchMode()">
                Log in
            </a>.
        </div>
    </div>
</div>