<div
  class="bg-gradient-to-b from-emerald-300 to-slate-200 min-h-screen w-full flex flex-col my-auto"
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 md:w-4/6 w-full px-6 gap-4 items-center justify-center my-auto mx-auto"
  >
    <app-landing></app-landing>
    <div>
      <p
        class="uppercase tracking-tight font-nunito font-bold mb-6 text-center text-gray-700 text-3xl"
      >
        Start engaging today
      </p>
      <div
        class="bg-white px-6 py-8 mx-auto rounded-lg shadow-xl text-black w-full md:w-3/5"
      >
        <h1
          class="font-nunito font-bold mb-8 text-3xl text-center text-gray-700"
        >
          {{ isLoginMode ? "Log in" : "Sign up" }}
        </h1>
        <p
          *ngIf="sessionExpired"
          class="text-center text-red-600 font-bold mb-2"
        >
          Your session has expired.<br />
          Please login to continue.
        </p>
        <div *ngIf="showDemoGreeting" class="mb-4">
          <p-messages severity="info">
            <ng-template pTemplate>
              <p innerHTML="{{ demoGreetingMessage }}"></p>
            </ng-template>
          </p-messages>
        </div>
        <button
          type="button"
          (click)="prePopulateFields()"
          *ngIf="showDemoGreeting"
          class="w-full text-center font-bold font-nunito py-3 mb-4 rounded bg-emerald-700 text-white hover:bg-emerald-800 focus:outline-none my-1 shadow-xl"
        >
          Pre-populate fields
        </button>
        <form
          #authForm="ngForm"
          (ngSubmit)="onSubmit(authForm)"
          *ngIf="!isLoading; else authLoading"
        >
          <input
            ngModel
            *ngIf="!isLoginMode"
            [required]="!isLoginMode"
            type="text"
            class="block border border-grey-light w-full p-3 shadow rounded-lg mb-4"
            name="username"
            placeholder="Full Name"
          />

          <input
            ngModel
            required
            email
            type="text"
            class="block border border-grey-light w-full p-3 shadow rounded-lg mb-4"
            name="email"
            placeholder="Email"
            [(ngModel)]="email"
          />

          <input
            ngModel
            type="password"
            class="block border border-grey-light w-full p-3 shadow rounded-lg rounded mb-4"
            name="password"
            placeholder="Password"
            autocomplete="on"
            [(ngModel)]="password"
          />
          <input
            ngModel
            *ngIf="!isLoginMode"
            [required]="!isLoginMode"
            type="password"
            class="block border border-grey-light w-full p-3 shadow rounded-lg mb-4"
            name="confirmPassword"
            placeholder="Confirm Password"
          />

          <button
            type="submit"
            class="w-full text-center font-bold font-nunito py-3 rounded bg-emerald-700 text-white hover:bg-emerald-800 focus:outline-none my-1 shadow-xl"
          >
            {{ isLoginMode ? "Log in" : "Create Account" }}
          </button>
        </form>
        <ng-template #authLoading>
          <app-loading></app-loading>
        </ng-template>

        <div
          id="error-container"
          class="text-center text-sm text-red-600 mt-4"
          *ngIf="error"
        >
          {{ error }}
        </div>
      </div>

      <div class="mx-auto w-full md:w-3/5">
        <div
          *ngIf="isLoginMode"
          class="font-nunito text-grey-dark mt-6 text-center"
        >
          Don't have an account yet?
          <a
            class="hover:no-underline underline text-blue cursor-pointer font-bold"
            (click)="onSwitchMode()"
          >
            Sign up</a
          >.
        </div>

        <div
          *ngIf="!isLoginMode"
          class="font-nunito text-grey-dark mt-6 text-center"
        >
          Already have an account?
          <a
            class="hover:no-underline underline text-blue cursor-pointer font-bold"
            (click)="onSwitchMode()"
          >
            Log in</a
          >.
        </div>
      </div>
    </div>
  </div>
</div>
