<div class="mb-8">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <strong>Engagment</strong>
    </ng-template>
    <!-- <div>
      <input *ngIf="isAuthenticated" type="text" pInputText placeholder="Search" />
      <button
        type="button"
        pButton
        [label]="isAuthenticated ? 'Logout' : 'Login'"
        icon="pi pi-power-off"
        style="margin-left: 0.25em"
        class="hidden"
        (click)="isAuthenticated ? handleLogOut() : redirectToLogin()"
      ></button>
    </div> -->
  </p-menubar>
</div>
