<div class="mt-8">
  <p
    class="font-nunito text-center uppercase font-bold text-6xl tracking-wide text-violet-800 mb-8"
  >
    Engaged teams<br />
    get stuff done.
  </p>

  <p class="mb-6">
    <span class="font-nunito font-bold text-2xl tracking-wide"
      >Did you know? Engaged teams...</span
    ><br />
  </p>
  <ul class="font-nunito list-disc list-inside tracking-wide">
    <li>
      Drive
      <span class="text-red-600 font-bold underline underline-offset-4"
        >21% more profit</span
      >
      than teams that struggle with engagement
    </li>
    <li>Increase productivity by 17%</li>
    <li>Experience less turnover, thus retaining valueable knowledge</li>
    <li>Are more innovative and come up with creative solutions</li>
  </ul>
</div>
