<div class="grid grid-cols-1 md:grid-cols-3 gap-4 auto-cols-max">
  <app-at-a-glance></app-at-a-glance>

  <app-upcoming-birthdays></app-upcoming-birthdays>

  <app-upcoming-anniversaries></app-upcoming-anniversaries>
</div>

<!-- <div class="flex">
  <div class="w-1/3 flex flex-col">
    <app-at-a-glance></app-at-a-glance>
  </div>

  <div class="w-1/3 flex flex-col">
    <app-upcoming-birthdays></app-upcoming-birthdays>
  </div>

  <div class="w-1/3 flex flex-col">
    <app-upcoming-anniversaries></app-upcoming-anniversaries>
  </div>
</div> -->

<div class="grid grid-cols-1 gap-4 mt-8">
  <app-employees></app-employees>
</div>
