<div *ngIf="!isLoading; else loadingEmployees">
  <a [routerLink]="['/employees/new']">
    <button
      type="button"
      class="mt-4 px-3 py-2 text-sm font-bold text-center text-white bg-emerald-700 rounded-lg hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800"
    >
      New Employee
    </button>
  </a>
  <button
    type="button"
    (click)="op.toggle($event)"
    class="mt-4 ml-2 px-3 py-2 text-sm font-bold text-center text-white bg-emerald-700 rounded-lg hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800"
  >
    Filter
  </button>
  <p-overlayPanel #op [showCloseIcon]="true">
    <ng-template pTemplate>
      <input
        placeholder="Filter by name..."
        [disabled]="
          filterByBirthday ||
          filterByUpcomingAnniversaries ||
          filterByOverdueInteractions
        "
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onFilterChange($event)"
        class="border-2 p-4 m-2 font-lg block inline"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 -ml-10 inline cursor-pointer text-emerald-700"
        viewBox="0 0 20 20"
        fill="currentColor"
        (click)="searchTerm = ''; onFilterChange('')"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd"
        />
      </svg>
      <p-toggleButton
        [disabled]="
          filterByOverdueInteractions || filterByUpcomingAnniversaries
        "
        [(ngModel)]="filterByBirthday"
        (click)="onFilterByBirthday()"
        onLabel="Upcoming birthdays"
        offLabel="Upcoming birthdays"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        [style]="{ 'margin-bottom': '12px', display: 'block' }"
      ></p-toggleButton>
      <p-toggleButton
        [disabled]="filterByBirthday || filterByUpcomingAnniversaries"
        [(ngModel)]="filterByOverdueInteractions"
        (click)="onFilterByOverdueInteractions()"
        onLabel="Overdue Interactions"
        offLabel="Overdue Interactions"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        [style]="{ 'margin-bottom': '12px', display: 'block' }"
      ></p-toggleButton>
      <p-toggleButton
        [disabled]="filterByBirthday || filterByOverdueInteractions"
        [(ngModel)]="filterByUpcomingAnniversaries"
        (click)="onFilterByUpcomingAnniversaries()"
        onLabel="Upcoming Anniversaries"
        offLabel="Upcoming Anniversaries"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        [style]="{ 'margin-bottom': '12px', display: 'block' }"
      ></p-toggleButton>
    </ng-template>
  </p-overlayPanel>
  <p-toast position="top-right"></p-toast>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
    <p-card
      *ngFor="let employee of employees"
      [header]="employee.firstName + ' ' + employee.lastName"
      [style]="{ 'margin-bottom': '2em' }"
    >
      <ng-template pTemplate="header"> </ng-template>
      <strong>Birthday:</strong> {{ employee.birthDate | date: "MMMM d" }}<br />
      <strong>Hire date:</strong> {{ employee.hireDate | date: "MMMM d" }}<br />
      <strong>Last interaction:</strong>
      {{ employee.lastInteraction | date: "fullDate" }}<br />
      <strong>Interests: </strong
      ><span *ngIf="!employee.interests.length">n/a</span><br />
      <ul>
        <span *ngIf="employee.interests.length">
          <li
            *ngFor="let interest of employee.interests; let isLast = last"
            class="inline"
          >
            {{ interest }}{{ isLast ? "" : ", " }}
          </li>
        </span>
      </ul>
      <ng-template pTemplate="footer">
        <a [routerLink]="['/employees', employee.employeeId]">
          <button
            type="button"
            class="mt-4 px-3 py-2 text-sm font-bold text-center text-white bg-emerald-700 rounded-lg hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800"
          >
            Details
          </button>
        </a>
        <button
          type="button"
          class="mt-4 ml-2 px-3 py-2 text-sm font-bold text-center text-white bg-emerald-700 rounded-lg hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800"
        >
          Remove
        </button>
      </ng-template>
    </p-card>
  </div>
</div>
<ng-template #loadingEmployees>
  <app-loading></app-loading>
</ng-template>

<!-- <div class="container">
  <a [routerLink]="['/employees/new']"><p-button label="New employee"></p-button></a>
  <table
    class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5"
  >
    <thead class="text-white">
      <tr
        class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-2"
        *ngFor="let _ of employees"
      >
        <th class="p-3 text-left">Name</th>
        <th class="p-3 text-left">Interests</th>
        <th class="p-3 text-left">Birthday</th>
        <th class="p-3 text-left">Hire Date</th>
        <th class="p-3 text-left">Last Interaction</th>
        <th class="p-3 text-left">Actions</th>
      </tr>
    </thead>
    <tbody class="flex-1 sm:flex-none">
      <tr
        class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-2 hover:cursor-pointer"
        *ngFor="let employee of employees"
        (click)="editEmployee(employee.employeeId)"
      >
        <td class="border-grey-light border hover:bg-gray-100 p-3">
          {{ employee.firstName + " " + employee.lastName }}
        </td>
        <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">
          <ul>
            <span *ngIf="employee.interests.length">
              <li *ngFor="let interest of employee.interests; let isLast=last" class="inline">
                {{ interest }}{{ isLast ? '' : ', ' }}
              </li>
            </span>
            <li *ngIf="!employee.interests.length" class="text-gray-300">
              n/a
            </li>
          </ul>
        </td>
        <td
          class="border-grey-light border hover:bg-gray-100 p-3"
          [ngClass]="employee.birthDate ? '' : 'text-gray-300'"
        >
          {{
            employee.birthDate
              ? (employee.birthDate | date: "MMMM d")
              : "n/a"
          }}
        </td>
        <td
          class="border-grey-light border hover:bg-gray-100 p-3"
          [ngClass]="employee.hireDate ? '' : 'text-gray-300'"
        >
          {{
            employee.hireDate ? (employee.hireDate | date: "fullDate") : "n/a"
          }}
        </td>
        <td
          class="border-grey-light border hover:bg-gray-100 p-3"
          [ngClass]="employee.lastInteraction ? '' : 'text-gray-300'"
        >
          {{
            employee.lastInteraction
              ? (employee.lastInteraction | date: "fullDate")
              : "n/a"
          }}
        </td>
        <td
          class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer"
          (click)="(null)"
        >
          Edit
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
