<app-loading *ngIf="isLoading"></app-loading>

<div class="container">
  <a [routerLink]="['/employees/new']"><p-button label="New employee"></p-button></a>
  <table
    class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5"
  >
    <thead class="text-white">
      <tr
        class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-2"
        *ngFor="let _ of employees"
      >
        <th class="p-3 text-left">Name</th>
        <th class="p-3 text-left">Interests</th>
        <th class="p-3 text-left">Birthday</th>
        <th class="p-3 text-left">Hire Date</th>
        <th class="p-3 text-left">Last Interaction</th>
        <th class="p-3 text-left">Actions</th>
      </tr>
    </thead>
    <tbody class="flex-1 sm:flex-none">
      <tr
        class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-2 hover:cursor-pointer"
        *ngFor="let employee of employees"
        (click)="editEmployee(employee.employeeId)"
      >
        <td class="border-grey-light border hover:bg-gray-100 p-3">
          {{ employee.firstName + " " + employee.lastName }}
        </td>
        <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">
          <ul>
            <span *ngIf="employee.interests.length">
              <li *ngFor="let interest of employee.interests" class="inline">
                {{ interest }}
              </li>
            </span>
            <li *ngIf="!employee.interests.length" class="text-gray-300">
              n/a
            </li>
          </ul>
        </td>
        <td
          class="border-grey-light border hover:bg-gray-100 p-3"
          [ngClass]="employee.birthDate ? '' : 'text-gray-300'"
        >
          {{
            employee.birthDate
              ? (employee.birthDate | date: "EEEE, MMMM d")
              : "n/a"
          }}
        </td>
        <td
          class="border-grey-light border hover:bg-gray-100 p-3"
          [ngClass]="employee.hireDate ? '' : 'text-gray-300'"
        >
          {{
            employee.hireDate ? (employee.hireDate | date: "fullDate") : "n/a"
          }}
        </td>
        <td
          class="border-grey-light border hover:bg-gray-100 p-3"
          [ngClass]="employee.lastInteraction ? '' : 'text-gray-300'"
        >
          {{
            employee.lastInteraction
              ? (employee.lastInteraction | date: "fullDate")
              : "n/a"
          }}
        </td>
        <td
          class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer"
          (click)="(null)"
        >
          Edit
        </td>
      </tr>
    </tbody>
  </table>
</div>
