<div class="shadow-md p-8 m-4 rounded">
  <p class="text-xl font-bold mb-2">Your team at a glance</p>
  <ul>
    <li><strong>Total number of employees:</strong> {{ employees.length }}</li>
    <li><strong># of overdue interactions:</strong> {{ outstandingInteractions.length }}</li>
    <li>
      <strong># of upcoming birthdays:</strong> {{ upcomingBirthdays.length }}
    </li>
    <li>
      <strong># of upcoming anniversaries:</strong>
      {{ upcomingAnniversaries.length }}
    </li>
  </ul>
</div>
