<p-panel header="Your team at a glance" [toggleable]="true">
  <ng-template pTemplate="icons">
    <div
      class="inline"
      *ngIf="
        outstandingInteractions.length ||
          upcomingBirthdays.length ||
          upcomingAnniversaries.length;
        else showCheckMarkButton
      "
    >
      <button
        pButton
        class="p-panel-header-icon p-link"
        icon="pi pi-info-circle"
        style="color: red"
        pTooltip="You might have a few items that need attention."
      ></button>
    </div>
    <ng-template #showCheckMarkButton>
      <button
        pButton
        class="p-panel-header-icon p-link"
        icon="pi pi-check-circle"
        style="color: green"
        pTooltip="It looks like You're all caught up!"
      ></button>
    </ng-template>
  </ng-template>
  <div *ngIf="!isLoading; else loading">
    <ul>
      <li>
        <strong>Total number of employees:</strong> {{ employees.length }}
      </li>
      <li [ngClass]="outstandingInteractions.length > 0 ? 'text-red-600' : ''">
        <strong>Overdue interactions:</strong>
        {{ outstandingInteractions.length }}
      </li>
      <li [ngClass]="upcomingBirthdays.length > 0 ? 'text-red-600' : ''">
        <strong>Upcoming birthdays:</strong> {{ upcomingBirthdays.length }}
      </li>
      <li [ngClass]="upcomingAnniversaries.length > 0 ? 'text-red-600' : ''">
        <strong>Upcoming anniversaries:</strong>
        {{ upcomingAnniversaries.length }}
      </li>
    </ul>
  </div>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</p-panel>
