<div *ngIf="anniversaries.length" class="shadow-md p-8 m-4 rounded">
  <p class="text-xl font-bold mb-2">Upcoming anniversaries</p>
  <ul>
    <li *ngFor="let employee of anniversaries">
      <a [routerLink]="['/employees', employee.employeeId]"
        >{{ employee.firstName + " " + employee.lastName }} -
        {{ employee.hiredate | date: "EEEE, MMMM d" }}</a
      >
    </li>
  </ul>
</div>

<div *ngIf="!anniversaries.length" class="shadow-md p-8 m-4 rounded">
  <strong>No anniversaries within the next 7 days!</strong>
</div>
